/* Zoom options */
.zoom-120{
    transform: scale(1.05) !important;
}
.zoom-130{
    transform: scale(1.1) !important;
}
.zoom-150{
    transform: scale(1.17) !important;
}

/* Line height options */
.line-height-2{
    line-height: 2 !important;
}
.line-height-250{
    line-height: 2.5 !important;
}
.line-height-3{
    line-height: 3 !important;
}

/* Word spacing options */
.word-spacing-2px{
    word-spacing: 2px !important;
}
.word-spacing-4px{
    word-spacing: 4px !important;
}
.word-spacing-8px{
    word-spacing: 8px !important;
}

/* Text align options */
.text-align-center{
    text-align: center !important;
}
.text-align-left{
    text-align: left !important;
}
.text-align-right{
    text-align: right !important;
}
.text-align-justify{
    text-align: justify !important;
}

/* Dyslexia Friendly Font */
.dyslexia-font{
    font-family: Arial !important;
}


/* Contrast options */
.dark-contrast{
    background-color: #000 !important;
    color: #FFF !important;
}
.light-contrast{
    background-color: #FFF !important;
    color: #000 !important;
}
.desaturate{
    filter: saturate(0);
}


/* Highlight links */
.link-highlight{
    text-decoration: underline;
    background-color: rgb(255, 251, 0) !important;
    color: rgb(0, 0, 0) !important;
}


/*Widget position */
.bottom-2{
    bottom:8px !important;
}
.bottom-16{
    bottom: 4rem !important;
}
.top-2{
    top:8px !important;
}
.top-16{
    top:4rem !important;
}